.title{
    color: var(--primary-color);
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-block: 18px;
}

@media screen and (min-width: 1280px) {
    .title{
        margin-block-start: 0;
        margin-block-end: 10px;
        font-size: 33px;
    }
}