.info{
    color: var(--secondary-color);
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    -webkit-margin-before: 20px;
        margin-block-start: 20px;
    -webkit-margin-after: 25px;
        margin-block-end: 25px;
}

@media screen and (min-width: 1280px){
    .info > span{
        display: none;
    }

    .info{
        margin-block-start: 10px;
        text-align: start;
        font-size: 19px;
    }
}