.bannerText{
    color: var(--home-txt-color);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    width: 80%;
    max-width: 400px;
    min-width: 248px;
}

.bannerText > span{
    color: var(--banner-color);
}

@media screen and (min-width: 640px) {
    .bannerText{
        width: 58%;
        max-width: 446px;
    }
}

@media screen and (min-width: 1280px) {
    .bannerText{
        width: 100%;
        font-size: 26px;
        max-width: 550px;
        text-align: start;
    }
}