.experienceContainer{
    padding-block: 38px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 660px){
    .experienceContainer{
        padding: 0;
        margin-block: 40px;
        min-height: none;
        height: min-content;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1280px) {
    .experienceContainer{
        align-items: flex-start;
        padding-inline-start: 15px;
        max-width: 1920px;
    }
}