.experienceContainer{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 35px;
}

@media screen and (max-height: 660px){
    .experienceContainer{
        padding-block: 40px;
        justify-content: flex-start;
    }
}

@media screen and (max-height: 936px){
    .experienceContainer{
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1280px) {
    .experienceContainer{
        align-items: flex-start;
        padding-inline-start: 15px;
        max-width: 1400px;
    }
}