:root {
  --bg-color: #FAF6F0;
  --banner-color: #584935;
  --home-txt-color: #8C7454;
  --section-title-color: #B19A7B;
  --primary-color: #756045;
  --secondary-color: #A08C71;
  --bullet-bg-color: #E6DDD1;
  --bullet-icon-color: #C9B79E;
  --button-bg: #A58D6D;
  --button-contrast: #496A5A;
  --bullet-inactive: #D1C2AE;
}

@media (prefers-color-scheme: dark) {
  :root {
   /* implementar dark mode */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

body{
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 1280px){
  body{
    padding-inline: 98px;
    display: flex;
    flex-direction: column;
  }
}
