.bannerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .bannerContainer{
        align-items: start;
    }
}